

<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie11 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie11 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie11 lt-ie9"> <![endif]-->
<!--[if IE 9]>     <html class="no-js lt-ie11"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <!-- The Fuel Agency -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#252561">
    <meta name="msapplication-TileColor" content="#252561">
    <meta name="theme-color" content="#252561">

    <link rel="stylesheet" href="/scv-pre/src/precursor.css?v=23" />
    <link rel="stylesheet" href="/scv-pre/print.css?v=23" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/App_Plugins/formulate/responsive.bootstrap.angular.js"></script>
    <script src="/scripts/DetectOldBrowsers.js"></script>

    <!--[if lt IE 9]>
        <script src="/scv-pre/src/js/vendor/polyfill/queryselector-polyfill.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
        <script src="/scv-pre/src/js/vendor/polyfill/respond.src.js" type="text/javascript"></script>
    <![endif]-->

    
	<title>
Duke of Ed Award Framework | Scouts Victoria | Australia	</title>

	<!-- Fonts -->
	
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap" rel="stylesheet">


	
	

	<meta property="og:type" content="website">
	<meta property="og:image" content="https://scoutsvictoria.com.au/android-chrome-192x192.png" /> <!-- 200x200 Image for Facebook -->
	<meta property="og:title" content="Duke of Ed Award Framework Scouts Victoria | Australia" />
	<meta property="og:url" content="/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/" />
	<meta property="og:site_name" content="Scouts Victoria | Australia" />
	
	<!-- Google tag (gtag.js) 2023 GA4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VCJJ48S7FG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VCJJ48S7FG');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1338925232963018');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1"
src="https://www.facebook.com/tr?id=1338925232963018&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

	
	<!--Required for Gallery Popups -->
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>-->
	<link rel="stylesheet" href="/scv-pre/magnific-popup.css"/>
	
	


</head>

<div class="unsupported-browser"></div>





<body ontouchstart="" ng-app="app">
<!-- End Facebook Pixel Code -->
<script>
  fbq('track', 'Search');
</script>

	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	
<noscript>
	<div class="noscript">
		<p><strong>This site relies on JavaScript which is disabled in your browser.</strong></p>
		<p>To more completely experience this website as it was intended to be presented, please enable JavaScript on your device.</p>
	</div>
</noscript>

	<div id="container" class="precursor">

		<div class="row accessibility">
			<div class="col col-4 mob-hide mob-p-hide">
				<div class="padding skip">
					<a href="#skip-nav" ng-click="goToAnchor()">Skip to navigation</a> | <a href="#main" ng-click="goToAnchor()">Skip to content</a>
				</div>
			</div>
			<div class="col col-4 col-mob-5 col-mob-p-5">
				<div class="padding translate">
					
					<div id="google_translate_element"></div>
				</div>
			</div>
			<div class="col col-4 col-mob-5 mob-p-hide">
				<div class="padding fontScale">
					Font scale <a href="#" id="jfontsize-minus">A-</a> <span><a href="#" id="jfontsize-plus">A+</a></span>
				</div>
			</div>
		</div>

		<header>
			<div class="col-container">
				<div class="row box-header">
					<div class="col col-3 col-tab-3 col-tab-p-3 col-mob-4 col-mob-p-4">
						<div class="logo">
							

<a href="/" title="Home" class="printHide"><img src="/media/3416/logoscreen.png" alt="Scouts Victoria logo" /></a>
							<a href="/" title="Home" class="hideThis printShow"><img src="/media/3417/logoprint.png" alt="Scouts Victoria" /></a>


						</div>
					</div>
					<div class="col col-9 col-tab-9 col-tab-p-9 col-mob-8 col-mob-p-8">
						<div class="row box-search">
							<div class="col col-12 mob-hide mob-p-hide printHide">
								<!-- Quick Links -->
								<ul class="quicklinks">
										<li>
											<a href="/join-the-adventure/child-safe-scouting/" >Child Safe</a>
										</li>
										<li>
											<a href="https://groups.operoo.com/users/sign_in"  target=&quot;_blank&quot;>Operoo</a>
										</li>
										<li>
											<a href="/age-sections-adults/leader-resources/safety/" >Safety</a>
										</li>
										<li>
											<a href="https://scoutsvictoria.com.au/age-sections-adults/training/"  target=&quot;_blank&quot;>Training</a>
										</li>
										<li>
											<a href="https://www.vicscouts.asn.au/portal/"  target=&quot;_blank&quot;>Extranet</a>
										</li>
										<li>
											<a href="https://scoutshop.com.au/"  target=&quot;_blank&quot;>Scout Shop</a>
										</li>
										<li>
											<a href="https://scoutsvictoria.com.au/age-sections-adults/our-program/" >Our Program</a>
										</li>
										<li>
											<a href="https://pr.scouts.com.au/terrain/"  target=&quot;_blank&quot;>Terrain</a>
										</li>
								</ul>
								<!-- Quick Links END -->

							</div>
							<div class="col col-12 forms">
										<a href="/about-us/make-a-difference-today/" class="featureButton">Donate Today</a>								
								<form class="clearboth" action="/search/?searchTerm="> <!--  )-->
									<input id="searchTerm" name="searchTerm" placeholder="Keyword" type="text" value="" /><input class="submit" type="submit" id="searchSubmit" value="Search">
								</form><form class="clearboth" onsubmit="return ($('#searchPostcode').val() != '' && $.isNumeric($('#searchPostcode').val()) && $('#searchPostcode').val().length == 4);" action="/locations/all-groups?searchPostcode=">
									<input id="searchPostcode" maxlength="4" name="searchPostcode" placeholder="Postcode" type="text" value="" /><input class="submit" type="submit" id="searchLocationSubmit" value="Find a group">
								</form>
							</div>
						</div>
					</div>
					<div class="col-right col-9 col-tab-9 col-tab-p-12 col-mob-8 col-mob-p-7">
						<div class="row box-nav">
							<div class="col col-12">
								<nav class="main-nav" role="navigation" id="skip-nav" >
	<ul>
		<li class="firstLevel">
	<a href="#">Join the adventure!</a>
				<ul class="second-level">
						<li><a href="/join-the-adventure/">Overview</a></li>
											<li>	<a href="/join-the-adventure/leadership-learning/">Leadership &amp; learning</a>
</li>
						<li>	<a href="/join-the-adventure/all-welcome/">All welcome</a>
</li>
						<li>	<a href="/join-the-adventure/child-safe-scouting/">Child Safe Scouting</a>
</li>
						<li>	<a href="/join-the-adventure/welcome-to-scouting/">Welcome to Scouting - A Guide for Parents and Caregivers</a>
</li>
						<li>	<a href="/join-the-adventure/faqs/">FAQs</a>
</li>
						<li>	<a href="/join-the-adventure/become-a-leader/">Become a Leader</a>
</li>
						<li>	<a href="/join-the-adventure/speak-like-a-scout/">Speak like a Scout</a>
</li>
						<li>	<a href="/join-the-adventure/school-holiday-program/">School Holiday Program</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">Age Sections &amp; Adults</a>
				<ul class="second-level">
						<li><a href="/age-sections-adults/">Overview</a></li>
											<li>	<a href="/age-sections-adults/joey-scouts/">Joey Scouts 5-8 Years</a>
</li>
						<li>	<a href="/age-sections-adults/cub-scouts/">Cub Scouts 8-11 Years</a>
</li>
						<li>	<a href="/age-sections-adults/scouts/">Scouts 11-14 Years</a>
</li>
						<li>	<a href="/age-sections-adults/venturers/">Venturers 14-18 Years</a>
</li>
						<li>	<a href="/age-sections-adults/rovers/">Rovers 18-25 Years</a>
</li>
						<li>	<a href="/age-sections-adults/our-program/">Our Program</a>
</li>
						<li>	<a href="/age-sections-adults/uniform-and-badge-placement/">Uniform and Badge Placement</a>
</li>
						<li>	<a href="/age-sections-adults/ceremonies/">Ceremonies</a>
</li>
						<li>	<a href="/age-sections-adults/volunteer-in-scouts/">Volunteer in Scouts</a>
</li>
						<li>	<a href="/age-sections-adults/leader-resources/">Leader Resources</a>
</li>
						<li>	<a href="/age-sections-adults/training/">Training</a>
</li>
						<li>	<a href="/age-sections-adults/scouts-terrain/">Scouts | Terrain</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">Activities &amp; Events</a>
				<ul class="second-level">
						<li><a href="/activities-events/">Overview</a></li>
											<li>	<a href="/activities-events/special-interest-areas/">Special Interest Areas</a>
</li>
						<li>	<a href="/activities-events/outdoor-adventure-skills/">Outdoor Adventure Skills</a>
</li>
						<li>	<a href="/activities-events/adventurous-activities/">Adventurous Activities</a>
</li>
						<li>	<a href="/activities-events/activity-teams/">Activity Teams</a>
</li>
						<li>	<a href="/activities-events/events/">Events</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">About us</a>
				<ul class="second-level">
						<li><a href="/about-us/">Overview</a></li>
											<li>	<a href="/about-us/history/">History</a>
</li>
						<li>	<a href="/about-us/make-a-difference-today/">Make a difference today</a>
</li>
						<li>	<a href="/about-us/our-people/">Our People</a>
</li>
						<li>	<a href="/about-us/values/">Values</a>
</li>
						<li>	<a href="/about-us/scout-halls/">Scout Halls</a>
</li>
						<li>	<a href="/about-us/campsites/">Campsites</a>
</li>
						<li>	<a href="/about-us/annual-reports/">Annual Reports</a>
</li>
						<li>	<a href="/about-us/news/">News</a>
</li>
						<li>	<a href="/about-us/faqs/">FAQs</a>
</li>
						<li>	<a href="/about-us/contact-us/">Contact us</a>
</li>
						<li>	<a href="/about-us/beyond-victoria/">Beyond Victoria</a>
</li>
						<li>	<a href="/about-us/policies/">Policies</a>
</li>
						<li>	<a href="/about-us/strategic-plan-2021-2024/">Strategic Plan 2021-2024</a>
</li>
						<li>	<a href="/about-us/our-hall-upgrades/">Our Hall Upgrades</a>
</li>
				</ul>
		</li>
	</ul>
</nav>

<div class="sidebar">
	<a href="javascript:;" class="sidebar-toggle">
		<span class="sidebar-toggle-img"><img src="/scv-pre/src/images/mobile-sidebar.png" alt="Menu Toggle"></span>	 
	</a>
	<div class="sidebar-content main-nav">
		<ul class="menu">
			<li>
				<a href="/">Home</a>
			</li>
		<li class="firstLevel">
	<a href="#">Join the adventure!</a>
				<ul class="second-level">
						<li><a href="/join-the-adventure/">Overview</a></li>
											<li>	<a href="/join-the-adventure/leadership-learning/">Leadership &amp; learning</a>
</li>
						<li>	<a href="/join-the-adventure/all-welcome/">All welcome</a>
</li>
						<li>	<a href="/join-the-adventure/child-safe-scouting/">Child Safe Scouting</a>
</li>
						<li>	<a href="/join-the-adventure/welcome-to-scouting/">Welcome to Scouting - A Guide for Parents and Caregivers</a>
</li>
						<li>	<a href="/join-the-adventure/faqs/">FAQs</a>
</li>
						<li>	<a href="/join-the-adventure/become-a-leader/">Become a Leader</a>
</li>
						<li>	<a href="/join-the-adventure/speak-like-a-scout/">Speak like a Scout</a>
</li>
						<li>	<a href="/join-the-adventure/school-holiday-program/">School Holiday Program</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">Age Sections &amp; Adults</a>
				<ul class="second-level">
						<li><a href="/age-sections-adults/">Overview</a></li>
											<li>	<a href="/age-sections-adults/joey-scouts/">Joey Scouts 5-8 Years</a>
</li>
						<li>	<a href="/age-sections-adults/cub-scouts/">Cub Scouts 8-11 Years</a>
</li>
						<li>	<a href="/age-sections-adults/scouts/">Scouts 11-14 Years</a>
</li>
						<li>	<a href="/age-sections-adults/venturers/">Venturers 14-18 Years</a>
</li>
						<li>	<a href="/age-sections-adults/rovers/">Rovers 18-25 Years</a>
</li>
						<li>	<a href="/age-sections-adults/our-program/">Our Program</a>
</li>
						<li>	<a href="/age-sections-adults/uniform-and-badge-placement/">Uniform and Badge Placement</a>
</li>
						<li>	<a href="/age-sections-adults/ceremonies/">Ceremonies</a>
</li>
						<li>	<a href="/age-sections-adults/volunteer-in-scouts/">Volunteer in Scouts</a>
</li>
						<li>	<a href="/age-sections-adults/leader-resources/">Leader Resources</a>
</li>
						<li>	<a href="/age-sections-adults/training/">Training</a>
</li>
						<li>	<a href="/age-sections-adults/scouts-terrain/">Scouts | Terrain</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">Activities &amp; Events</a>
				<ul class="second-level">
						<li><a href="/activities-events/">Overview</a></li>
											<li>	<a href="/activities-events/special-interest-areas/">Special Interest Areas</a>
</li>
						<li>	<a href="/activities-events/outdoor-adventure-skills/">Outdoor Adventure Skills</a>
</li>
						<li>	<a href="/activities-events/adventurous-activities/">Adventurous Activities</a>
</li>
						<li>	<a href="/activities-events/activity-teams/">Activity Teams</a>
</li>
						<li>	<a href="/activities-events/events/">Events</a>
</li>
				</ul>
		</li>
		<li class="firstLevel">
	<a href="#">About us</a>
				<ul class="second-level">
						<li><a href="/about-us/">Overview</a></li>
											<li>	<a href="/about-us/history/">History</a>
</li>
						<li>	<a href="/about-us/make-a-difference-today/">Make a difference today</a>
</li>
						<li>	<a href="/about-us/our-people/">Our People</a>
</li>
						<li>	<a href="/about-us/values/">Values</a>
</li>
						<li>	<a href="/about-us/scout-halls/">Scout Halls</a>
</li>
						<li>	<a href="/about-us/campsites/">Campsites</a>
</li>
						<li>	<a href="/about-us/annual-reports/">Annual Reports</a>
</li>
						<li>	<a href="/about-us/news/">News</a>
</li>
						<li>	<a href="/about-us/faqs/">FAQs</a>
</li>
						<li>	<a href="/about-us/contact-us/">Contact us</a>
</li>
						<li>	<a href="/about-us/beyond-victoria/">Beyond Victoria</a>
</li>
						<li>	<a href="/about-us/policies/">Policies</a>
</li>
						<li>	<a href="/about-us/strategic-plan-2021-2024/">Strategic Plan 2021-2024</a>
</li>
						<li>	<a href="/about-us/our-hall-upgrades/">Our Hall Upgrades</a>
</li>
				</ul>
		</li>
			<!-- Quick Links -->
			<li class="firstLevel">
				<a href="#">Member Quick Links</a>
				<ul class="second-level">
					<li>
						<a href="/join-the-adventure/child-safe-scouting/" >Child Safe</a>
					</li>
					<li>
						<a href="https://groups.operoo.com/users/sign_in"  target=&quot;_blank&quot;>Operoo</a>
					</li>
					<li>
						<a href="/age-sections-adults/leader-resources/safety/" >Safety</a>
					</li>
					<li>
						<a href="https://scoutsvictoria.com.au/age-sections-adults/training/"  target=&quot;_blank&quot;>Training</a>
					</li>
					<li>
						<a href="https://www.vicscouts.asn.au/portal/"  target=&quot;_blank&quot;>Extranet</a>
					</li>
					<li>
						<a href="https://scoutshop.com.au/"  target=&quot;_blank&quot;>Scout Shop</a>
					</li>
					<li>
						<a href="https://scoutsvictoria.com.au/age-sections-adults/our-program/" >Our Program</a>
					</li>
					<li>
						<a href="https://pr.scouts.com.au/terrain/"  target=&quot;_blank&quot;>Terrain</a>
					</li>
				</ul>
			</li>
			<li class="firstLevel">
				<a href="#">Locations</a>
				<ul class="second-level">
					<!--<li><a href="/locations/camps">Camps</a></li>-->
					<li><a href="/locations/all-groups">All Groups</a></li>
					<li><a href="/locations/joeys">Joey Mobs</a></li>
					<li><a href="/locations/cubs">Cub Packs</a></li>
					<li><a href="/locations/scouts">Scout Troops</a></li>
					<li><a href="/locations/venturers">Venturer Units</a></li>
					<li><a href="/locations/rovers">Rover Crews</a></li>
					<li><a href="/locations/halls">Halls</a></li>
				</ul>
			</li>
			<!-- Locations END -->
		</ul>
	</div>
</div>
<div class="sidebar-overlay"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="main" role="main" class="bg-wood">
			<div class="bg-green">
				



<div class="content internal">
	<div class="col-container">
		



<div class="row">
	<div class="col-right col-10 col-tab-10 col-tab-p-12 col-mob-12 col-mob-p-12 printFill">
		<div class="contents">
			<!-- Google Structured Content -->
<ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb">
	<li>
		<a href="/">Home</a>
	</li>
	<li property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" href="https://scoutsvictoria.com.au/activities-events/"><span property="name">Activities &amp; Events</span></a>
		<meta property="position" content="1">
	</li>
	<li property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" href="https://scoutsvictoria.com.au/activities-events/activity-teams/"><span property="name">Activity Teams</span></a>
		<meta property="position" content="2">
	</li>
	<li property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" href="https://scoutsvictoria.com.au/activities-events/activity-teams/duke-of-edinburghs-international-award/"><span property="name">Duke of Edinburgh&#39;s International Award</span></a>
		<meta property="position" content="3">
	</li>
	<li property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" href="https://scoutsvictoria.com.au/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/"><span property="name">Duke of Ed Award Framework</span></a>
		<meta property="position" content="4">
	</li>
</ol>
			<div class="feature-header heroImagery">
				  
			</div>


			<div class="row">
				<div class="col col-9 col-tab-9 col-tab-p-8 col-mob-12 col-mob-p-12 pageCopy">
					<div class="bg-topRip">
						<div class="bg-bottomRip">
							<div class="padding">

							<h1>Duke of Ed Award Framework</h1>

							<p>Scouts Victoria will offer the Bronze Award as an introduction with the Silver Award to align with the Venturer King's Scout Award requirements under Achievement Pathways. Scouts can continue to the Gold Award either as a Venturer or Rover.</p>
<p>This <a rel="noopener" data-udi="umb://media/bd247d618c3d4402b19541b96fc58ede" href="/media/7104/dofed-award-levels-sv-offerings-aug-2022.pdf" target="_blank" title="Dofed Award Levels SV Offerings Aug 2022 (2)">downloadable chart</a> outlines the Award Framework.</p>
<p>The tabs below show the aim, ethos, benefits and examples of each section of the framework.</p>




								<div class="extraContent" id='eid-Physical-Recreation-staff'>
						<div class="row people">
							<div class="col col-12">
								<div class="padding">
									<div class="row">
										<div class="col col-3 col-mob-p-6 image">
												<img src="/media/7298/physical-recreation.png?mode=pad&amp;width=300&amp;height=0&amp;rnd=133120362540000000" alt="Physical Recreation"/>
												
										</div>
										<div class="col col-9 col-mob-p-12 text">
											<div class="padding">
												<h2>Physical Recreation</h2>
												<p></p>
												<p><a class="btnMore"></a></p>
												<span class="moreContent hiddenContent"><h2>Aim</h2>
<p>To improve physical fitness and wellbeing, and get active.</p>
<h2>Ethos</h2>
<p>The Physical Recreation Section of the Award offers young people the opportunity to participate in physical activity in a variety of ways. This can be achieved by training alone, undertaking noncompetitive or competitive activity, participating in team sports, extending engagement in a current physical activity or sport, or undertaking a supervised fitness or training program.</p>
<p>No matter what a young person’s physical or mental ability or inclination is, as long as they have the determination, this Section offers the opportunity to develop healthy fitness habits that will hopefully carry on long after an Award has been achieved.</p>
<h2>Benefits</h2>
<p>Taking part in any physical activity has many benefits for Participants. The activity should be enjoyable and the goals set realistic, so that at the end of the Section, Participants feel a real sense of achievement.</p>
<ul>
<li>Developing a healthy lifestyle</li>
<li>Improving fitness</li>
<li>Increasing self‐esteem</li>
<li>Interacting socially, especially in a team sport, but also through meeting people with interest in a similar individual sport</li>
<li>Enhancing self‐discipline, perseverance and self‐motivation</li>
<li>Experiencing a sense of achievement</li>
<li>Raising awareness of the variety of opportunities available in the area</li>
<li>Encouraging teamwork, if the activity is a team sport</li>
<li>Enjoyment</li>
</ul>
<h2>Examples</h2>
<ul>
<li>Participate in a team sport</li>
<li>Join a dance class</li>
<li>Take up skipping</li>
<li>Try Zumba, yoga or pilates</li>
<li>Swimming</li>
<li>Surfing</li>
<li>Horse riding</li>
<li>Indoor rock climbing</li>
<li>Running</li>
<li>Learn a martial art</li>
<li>Regularly go for a walk</li>
<li>Skiing/snowboarding</li>
<li>Motorsports</li>
</ul></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="extraContent" id='eid-Skills-staff'>
						<div class="row people">
							<div class="col col-12">
								<div class="padding">
									<div class="row">
										<div class="col col-3 col-mob-p-6 image">
												<img src="/media/7299/skills.png?mode=pad&amp;width=300&amp;height=0&amp;rnd=133120362540000000" alt="Skills"/>
												
										</div>
										<div class="col col-9 col-mob-p-12 text">
											<div class="padding">
												<h2>Skills</h2>
												<p></p>
												<p><a class="btnMore"></a></p>
												<span class="moreContent hiddenContent"><h2>Aim</h2>
<p>To broaden the development of personal interests and practical skills.</p>
<h2>Ethos</h2>
<p>This Section of the Award should encourage the development of new interests or improve existing ones and practical skills. These interests are typically of a non-physically demanding nature and may be hobbies, vocational/job related skills, social, cultural or individual activities or life skills.</p>
<p>With so many hobbies and interests to choose from, the Skills Section of the Award allows young people to explore and discover talents within themselves that they may have only hoped for or dreamed about.</p>
<p>In some ways, this is the broadest Section of the Award, as it offers so many choices based on individual interests and passions, whether artistic, creative, musical, academic, technical, cultural or some other area. By trying something entirely new, or undertaking an existing activity with renewed purpose, Participants will stimulate new interests or improve on existing ones.</p>
<h2>Benefits</h2>
<p>Because the Skills Section is so broad, Participants not only have the opportunity to take part in an activity that truly interests them, they can also find themselves developing skills they previously thought out of their reach. Activities chosen should be enjoyable and the goals set realistic so that at the end of the Section, Participants feel a real sense of achievement.</p>
<ul>
<li>Discovering new abilities and developing these or improving existing talents.</li>
<li>Increasing self‐confidence by successfully setting and achieving a goal.</li>
<li>Refining awareness of one’s own potential.</li>
<li>Developing time management and planning skills.</li>
<li>Enhancing self‐motivation.</li>
<li>Interacting socially by meeting new people and interacting with other people, often older, in a meaningful way.</li>
<li>Improving employability by learning vocational skills.</li>
</ul>
<h2>Examples</h2>
<ul>
<li>Learn a musical instrument</li>
<li>Learn a language</li>
<li>Cooking </li>
<li>Photography</li>
<li>Design</li>
<li>Cake decoration</li>
<li>Sewing</li>
<li>Reading</li>
<li>Bird watching</li>
<li>Gardening</li>
<li>Chess</li>
<li>Hairdressing</li>
<li>Learning to dive</li>
<li>Drama and theatre skills</li>
<li>Umpiring and refereeing </li>
<li>Journalism</li>
<li>Event planning and organising</li>
</ul></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="extraContent" id='eid-Voluntary-Service-staff'>
						<div class="row people">
							<div class="col col-12">
								<div class="padding">
									<div class="row">
										<div class="col col-3 col-mob-p-6 image">
												<img src="/media/7300/voluntary-service.png?mode=pad&amp;width=300&amp;height=0&amp;rnd=133120362540000000" alt="Voluntary Service"/>
												
										</div>
										<div class="col col-9 col-mob-p-12 text">
											<div class="padding">
												<h2>Voluntary Service</h2>
												<p></p>
												<p><a class="btnMore"></a></p>
												<span class="moreContent hiddenContent"><h2>Aim</h2>
<p>To connect with community and give useful voluntary service to others and their communities.</p>
<h2>Ethos</h2>
<p>Perhaps the most personal of all the Award Sections, Voluntary Service is all about giving back to the community Participants are part of, or giving to others and their communities. Whatever passions young people may have, whether it’s care and concern for the environment, a love of animals, a desire to make a difference to the lives of those less fortunate than themselves or a wish to help the sick or elderly, the Voluntary Service Section offers the structure to fulfill these passions.</p>
<p>Voluntary Service offers a young person the opportunity to engage with society and gain an understanding of the importance of their role within both their immediate and global community. It gives Participants the chance to connect with individuals and groups they may have previously overlooked or not been aware of, and to make a real difference to their wider community.</p>
<h2>Benefits</h2>
<p>By getting involved with their community, Participants should enjoy making a real difference to the lives of others, and through this, develop a greater responsibility to themselves and wider society. It is hoped that through regular commitment to their chosen Voluntary Service activity, Participants will begin to form a lifelong habit of community involvement and voluntary service.</p>
<ul>
<li>Learning patience, tolerance, and compassion.</li>
<li>Overcoming ignorance, prejudice, apathy and fear.</li>
<li>Increasing awareness of the needs and problems of others.</li>
<li>Exploring and improving interpersonal skills and self‐development skills.</li>
<li>Enhancing leadership qualities.</li>
<li>Trusting and being trusted.</li>
<li>Making a real difference to the lives of others.</li>
<li>Accepting the responsibility of commitment to others.</li>
<li>Meeting new people from different backgrounds.</li>
<li>Forming a lifelong habit of community involvement.</li>
<li>Enjoyment and a sense of satisfaction in helping others.</li>
<li>Being able to relate to others from different generations.</li>
</ul>
<h2>Examples</h2>
<ul>
<li>Participating in a conservation project.</li>
<li>Caring for a public/school garden.</li>
<li>Helping an emergency service team, eg SES, RFS, CFS/CFA, St John Ambulance, Royal Lifesaving.</li>
<li>Caring for animals under threat.</li>
<li>Fundraising for a charity.</li>
<li>Helping out at a charity clothing store.</li>
<li>Acting in a leadership role in a youth club, school or uniformed youth organisation.</li>
<li>Teaching/assisting a person to read or write.</li>
<li>Assisting in the teaching of primary school children.</li>
<li>Visit people in need, such as elderly or disabled people. </li>
<li>Voluntary work in hospitals and care centres. </li>
<li>Coach your local junior sporting team. </li>
</ul></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="extraContent" id='eid-Adventurous-Journey-staff'>
						<div class="row people">
							<div class="col col-12">
								<div class="padding">
									<div class="row">
										<div class="col col-3 col-mob-p-6 image">
												<img src="/media/7296/adventurous.png?mode=pad&amp;width=300&amp;height=0&amp;rnd=133120362540000000" alt="Adventurous Journey"/>
												
										</div>
										<div class="col col-9 col-mob-p-12 text">
											<div class="padding">
												<h2>Adventurous Journey</h2>
												<p></p>
												<p><a class="btnMore"></a></p>
												<span class="moreContent hiddenContent"><h2>Aim</h2>
<p>To stimulate a spirit of adventure and self-discovery whilst undertaking a journey in a group.</p>
<h2>Ethos</h2>
<p>The Adventurous Journey is all about getting out and going on an expedition or exploration in an unfamiliar and challenging environment, with an agreed objective/purpose. More than any other Section of the Award, the Adventurous Journey is about teamwork and social connection with both the team members who will undertake the journey, and also the Volunteers who instruct, supervise and assess the journey. The journey creates the environment for group work through planning, task sharing, problem solving, role allocation and team reflection.</p>
<p>At the heart of the Adventurous Journey, is the opportunity for a young person to engage in activities that require determination, physical effort, perseverance, problem solving and cooperation. It is intended that all who undertake this Section of the Award, are rewarded with a unique, challenging and memorable experience.</p>
<h2>Benefits</h2>
<p>Being in an unfamiliar environment, Participants will experience team challenges throughout both the preparation and training, and the journeys themselves. Personal dedication and perseverance are required for the Adventurous Journey, and some Participants may find the challenge is much harder than they anticipated. The rewards at the completion of the Qualifying Journey, however, are hard to match – elation, a real sense of achievement, self-confidence, trust, and belief in oneself and others.</p>
<ul>
<li>Working as part of a team.</li>
<li>Understanding group dynamics, the Participant’s own role and the role of others in a team.</li>
<li>Enhancing leadership skills.</li>
<li>Improving planning and organisational ability, and attention to detail.</li>
<li>Learning to make real decisions and accept real consequences.</li>
<li>Obtaining a sense of achievement and satisfaction by overcoming challenges and obstacles.</li>
<li>Developing self‐reliance and independence.</li>
<li>Developing health and fitness.</li>
<li>Experiencing and appreciating the outdoor environment.</li>
<li>Gaining the appropriate knowledge and skills to journey safely in that environment.</li>
<li>Exercising imagination and creativity by choosing their own journey.</li>
<li>Improving their investigating, reviewing and presentational skills.</li>
</ul>
<h2>Examples</h2>
<ul>
<li>Bushwalking</li>
<li>Canoeing</li>
<li>Cycling</li>
<li>Horse riding</li>
<li>Rafting</li>
<li>Sailing</li>
<li>Cross country skiing</li>
<li>Motorised vehicles (eg off-road)</li>
<li>Scientific/Geographic explorations</li>
<li>Historical/Cultural trips</li>
<li>Flora/Fauna studies</li>
<li>Mapping shipwrecks</li>
<li>Exploration of old cemeteries in a region</li>
<li>Experience and understand other languages/cultures</li>
</ul></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="extraContent" id='eid-Residential-Project-(Gold-Level-Only)-staff'>
						<div class="row people">
							<div class="col col-12">
								<div class="padding">
									<div class="row">
										<div class="col col-3 col-mob-p-6 image">
												<img src="/media/7297/gold-residential.png?mode=pad&amp;width=300&amp;height=0&amp;rnd=133120362540000000" alt="Residential Project (Gold Level Only)"/>
												
										</div>
										<div class="col col-9 col-mob-p-12 text">
											<div class="padding">
												<h2>Residential Project (Gold Level Only)</h2>
												<p></p>
												<p><a class="btnMore"></a></p>
												<span class="moreContent hiddenContent"><h2>Aim</h2>
<p>To broaden experience through involvement with others in a residential setting.</p>
<h2>Ethos</h2>
<p>The Gold Residential Project offers Participants unique experiences that truly broaden horizons, challenges their outlook and/or extends their comfort zone. At the heart of theGold Residential Project is the undertaking of a purposeful experience with people who are not the Participant’s usual companions, working towards a common goal. Adding to this, the young person is also outside of their usual place of residence, often in an unfamiliar environment with unfamiliar people. It is hoped that the Gold Residential Project rewards Gold Award Participants with a sense of personal achievement, enhanced social connection with new and interesting people, and a truly life changing experience.</p>
<h2>Benefits</h2>
<p>Some of the benefits for Participants include:</p>
<ul>
<li>Meeting new people</li>
<li>Experiencing an unfamiliar environment</li>
<li>Building new relationships</li>
<li>Working as part of a team</li>
<li>Accepting responsibility</li>
<li>Developing communication skills</li>
<li>Developing confidence</li>
<li>Showing initiative</li>
<li>Learning new skills or enhancing existing ones</li>
<li>Enjoying living and working with others</li>
</ul>
<h2>Examples</h2>
<p>Personal and skills training courses:</p>
<ul>
<li>Residential language courses.</li>
<li>Leadership training.</li>
<li>Skills development (e.g. music, art, craft).</li>
<li>Ecology study course.</li>
<li>Youth camps.</li>
<li>Youth parliaments.</li>
</ul>
<p>Environment and conservation projects:</p>
<ul>
<li>Environmental clean up.</li>
<li>Habitat restoration.</li>
<li>Volunteer work with national parks.</li>
<li>Research on habitats and ecosystems.</li>
<li>Restoration projects eg. buildings.</li>
</ul>
<p>Voluntary Service to other people and communities:</p>
<ul>
<li>Provision of facilities.</li>
<li>Construction projects.</li>
<li>Assisting as a leader at a camp for young people.</li>
<li>Working with a local or an overseas aid charity.</li>
<li>Working in a care home or hospital.</li>
</ul>
<p>Activity based:</p>
<ul>
<li>Outdoor adventure courses.</li>
<li>Sports coaching course.</li>
<li>Sport skills development and sport representative tours.</li>
<li>Crew member on board a Tall Ship.</li>
</ul></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col col-3 col-tab-3 col-tab-p-4 col-mob-12 col-mob-p-12 printHide sideShading">
					<div class="row RHSbar">
						<div class="padding">
							<div class="row">

							<div class="shareTools">Share page 
	<a href="http://www.facebook.com/sharer/sharer.php?u=https://scoutsvictoria.com.au/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/" target="_blank" class="ga-push" data-ga-label="Facebook" data-ga-category="shareTools"><i class="fa fa-facebook-square"></i></a>
	<a href="http://twitter.com/share?url=https://scoutsvictoria.com.au/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/" target="_blank" class="ga-push" data-ga-label="Twitter" data-ga-category="shareTools"><i class="fa fa-twitter-square"></i></a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url=https://scoutsvictoria.com.au/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/" target="_blank" class="ga-push" data-ga-label="LinkedIn" data-ga-category="shareTools"><i class="fa fa-linkedin-square"></i></a>
	<a href="javascript:window.print()" title="Print this page" class="ga-push" data-ga-label="Print" data-ga-category="shareTools"><i class="fa fa-print"></i></a>
</div>






								<div class="col col-12">
									<div class="row paired">




									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END RHS Sidebar -->


			</div>	

		</div>
	</div>


	<div class="col col-2 col-tab-2 col-tab-p-12 col-mob-12 col-mob-p-12 subnav stick">
		<div class="col col-12 col-tab-12 col-tab-p-6 col-mob-12 col-mob-p-12">
			<aside class="printHide">
				<!-- Page NAME --> 
				<strong>Duke of Edinburgh&#39;s International Award</strong>
				<ul>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/overview/" class="">Overview</a>
					</li>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/registration/" class="">Registration</a>
					</li>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/duke-of-ed-award-framework/" class="active">Duke of Ed Award Framework</a>
					</li>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/completing-your-award/" class="">Completing your Award</a>
					</li>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/why-do-the-duke-of-ed-in-scouts/" class="">Why do the Duke of Ed in Scouts?</a>
					</li>
					<li>
						<a href ="/activities-events/activity-teams/duke-of-edinburghs-international-award/faqs/" class="">FAQ&#39;s</a>
					</li>
				</ul>
			</aside>
		</div>
	</div>




</div>




	</div>
</div>

<!--Required for <IE12 and MacOS Safari support for form Date fields -->
<script src="/scv-pre/src/js/vendor/polyfill/date-input-polyfill.dist.js"></script>
			</div>
			<footer>
	<div class="bg-yellowRip">
		<div class="col-container">
			<div class="row box-footer mob-hide mob-p-hide">
				<div class="col col-12">
					<div class="sitemap">
						<div class="row">
		<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
			<ul>
				<li>	<a href="/join-the-adventure/">Join the adventure!</a>

					<ul>
	<li>	<a href="/join-the-adventure/leadership-learning/">Leadership &amp; learning</a>
</li>
	<li>	<a href="/join-the-adventure/all-welcome/">All welcome</a>
</li>
	<li>	<a href="/join-the-adventure/child-safe-scouting/">Child Safe Scouting</a>
</li>
	<li>	<a href="/join-the-adventure/welcome-to-scouting/">Welcome to Scouting - A Guide for Parents and Caregivers</a>
</li>
	<li>	<a href="/join-the-adventure/faqs/">FAQs</a>
</li>
	<li>	<a href="/join-the-adventure/become-a-leader/">Become a Leader</a>
</li>
	<li>	<a href="/join-the-adventure/speak-like-a-scout/">Speak like a Scout</a>
</li>
	<li>	<a href="/join-the-adventure/school-holiday-program/">School Holiday Program</a>
</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
			<ul>
				<li>	<a href="/age-sections-adults/">Age Sections &amp; Adults</a>

					<ul>
	<li>	<a href="/age-sections-adults/joey-scouts/">Joey Scouts 5-8 Years</a>
</li>
	<li>	<a href="/age-sections-adults/cub-scouts/">Cub Scouts 8-11 Years</a>
</li>
	<li>	<a href="/age-sections-adults/scouts/">Scouts 11-14 Years</a>
</li>
	<li>	<a href="/age-sections-adults/venturers/">Venturers 14-18 Years</a>
</li>
	<li>	<a href="/age-sections-adults/rovers/">Rovers 18-25 Years</a>
</li>
	<li>	<a href="/age-sections-adults/our-program/">Our Program</a>
</li>
	<li>	<a href="/age-sections-adults/uniform-and-badge-placement/">Uniform and Badge Placement</a>
</li>
	<li>	<a href="/age-sections-adults/ceremonies/">Ceremonies</a>
</li>
	<li>	<a href="/age-sections-adults/volunteer-in-scouts/">Volunteer in Scouts</a>
</li>
	<li>	<a href="/age-sections-adults/leader-resources/">Leader Resources</a>
</li>
	<li>	<a href="/age-sections-adults/training/">Training</a>
</li>
	<li>	<a href="/age-sections-adults/scouts-terrain/">Scouts | Terrain</a>
</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
			<ul>
				<li>	<a href="/activities-events/">Activities &amp; Events</a>

					<ul>
	<li>	<a href="/activities-events/special-interest-areas/">Special Interest Areas</a>
</li>
	<li>	<a href="/activities-events/outdoor-adventure-skills/">Outdoor Adventure Skills</a>
</li>
	<li>	<a href="/activities-events/adventurous-activities/">Adventurous Activities</a>
</li>
	<li>	<a href="/activities-events/activity-teams/">Activity Teams</a>
</li>
	<li>	<a href="/activities-events/events/">Events</a>
</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
			<ul>
				<li>	<a href="/about-us/">About us</a>

					<ul>
	<li>	<a href="/about-us/history/">History</a>
</li>
	<li>	<a href="/about-us/make-a-difference-today/">Make a difference today</a>
</li>
	<li>	<a href="/about-us/our-people/">Our People</a>
</li>
	<li>	<a href="/about-us/values/">Values</a>
</li>
	<li>	<a href="/about-us/scout-halls/">Scout Halls</a>
</li>
	<li>	<a href="/about-us/campsites/">Campsites</a>
</li>
	<li>	<a href="/about-us/annual-reports/">Annual Reports</a>
</li>
	<li>	<a href="/about-us/news/">News</a>
</li>
	<li>	<a href="/about-us/faqs/">FAQs</a>
</li>
	<li>	<a href="/about-us/contact-us/">Contact us</a>
</li>
	<li>	<a href="/about-us/beyond-victoria/">Beyond Victoria</a>
</li>
	<li>	<a href="/about-us/policies/">Policies</a>
</li>
	<li>	<a href="/about-us/strategic-plan-2021-2024/">Strategic Plan 2021-2024</a>
</li>
	<li>	<a href="/about-us/our-hall-upgrades/">Our Hall Upgrades</a>
</li>
					</ul>
				</li>
			</ul>
		</div>


							<!-- Quick Links -->
							<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
								<ul>
									<li><a href="#" class="noLink">Member Quick Links</a>
										<ul>
											<li>
												<a href="/join-the-adventure/child-safe-scouting/" >Child Safe</a>
											</li>
											<li>
												<a href="https://groups.operoo.com/users/sign_in"  target=&quot;_blank&quot;>Operoo</a>
											</li>
											<li>
												<a href="/age-sections-adults/leader-resources/safety/" >Safety</a>
											</li>
											<li>
												<a href="https://scoutsvictoria.com.au/age-sections-adults/training/"  target=&quot;_blank&quot;>Training</a>
											</li>
											<li>
												<a href="https://www.vicscouts.asn.au/portal/"  target=&quot;_blank&quot;>Extranet</a>
											</li>
											<li>
												<a href="https://scoutshop.com.au/"  target=&quot;_blank&quot;>Scout Shop</a>
											</li>
											<li>
												<a href="https://scoutsvictoria.com.au/age-sections-adults/our-program/" >Our Program</a>
											</li>
											<li>
												<a href="https://pr.scouts.com.au/terrain/"  target=&quot;_blank&quot;>Terrain</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- Quick Links END -->

							<!-- Locations -->
							<div class="col col-2 col-tab-2 col-tab-p-4 col-mob-4 col-mob-p-6">
								<ul>
									<li><a href="/locations">Locations</a>
										<ul>
											<li><a href="/locations/all-groups">All Groups</a></li>
											<li><a href="/locations/joeys">Joey Units</a></li>
											<li><a href="/locations/cubs">Cub Units</a></li>
											<li><a href="/locations/scouts">Scout Units</a></li>
											<li><a href="/locations/venturers">Venturer Units</a></li>
											<li><a href="/locations/rovers">Rover Units</a></li>
											<!--<li><a href="/locations/camps">Camps</a></li>
											<li><a href="/locations/halls">Halls</a></li>-->
										</ul>
									</li>
								</ul>
							</div>
							<!-- Locations END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="innerfooter">
		<div class="col-container">
			<div class="row">
				<div class="col col-12">
					<div class="innerfootercontent">
						<div class="col col-12">
							<div class="address">
								<span class="name">Scouts Victoria</span>

								<div class="socialMediaLinks">
										<a href="https://www.facebook.com/scoutsvictoria" target="_blank"><i class="fa fa-facebook-square"></i></a>
										<a href="https://twitter.com/scoutsvic" target="_blank"><i class="fa fa-twitter-square"></i></a>
										<a href="https://www.youtube.com/user/ScoutsVic" target="_blank"><i class="fa fa-youtube-square"></i></a>
										<a href="https://www.instagram.com/scoutsvictoria/" target="_blank"><i class="fa fa-instagram"></i></a>
								</div>
								<br />
								<strong>T:</strong> <a href="tel:1800 726 887" class="ga-push" data-ga-label="Phone" data-ga-category="footer">1800 726 887</a> | <strong>E:</strong> <a href="mailto:reception@scoutsvictoria.com.au" class="ga-push" data-ga-label="Email" data-ga-category="footer">reception@scoutsvictoria.com.au</a><br />

								<a href="/privacy-policy/">Privacy</a> | <a href="/terms-conditions/">Terms &amp; Conditions</a> | <a href="/contact-us/">Contact us</a>

								<div class="credits">
									Copyright &copy; 2017 All Rights Reserved
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
		</div>

	</div>

	<div id="modal"></div>
<script id="modalWindow" type="text/x-handlebars-template">
	<a href="javascript:;" class="btn pre-button-primary modal-close square" data-modal-close>
		<i class="fa fa-times"></i>
	</a>
	<div class="pre-modal" data-modal>
		<div class="pre-modal-content">
			{{{ content }}}
		</div>
	</div>
	<div class="pre-modal-overlay">
		<div class="pre-modal-title">{{ title }}</div>
	</div>
</script>


	<script>
		var bootstrap = {
			location: 'scv-pre',
			version: 23
			};
	</script>
<!--
	<script type="text/javascript">
		window.slimmage = { verbose: false };
	</script>

	<script src="/scv-pre/src/js/vendor/slimmage/slimmage.min.js"></script>
 -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.8.1/jquery.hoverIntent.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/superfish/1.7.4/superfish.min.js"></script>

	<script src="/scv-pre/src/js/build/underscore-min.js"></script>
	<script src="/scv-pre/src/js/build/jquery.cookie.min.js"></script>
	<script src="/scv-pre/src/js/jquery.jfontsize-1.0.js"></script>
	<script src="/scv-pre/src/js/jquery.flexslider-min.js"></script>
	<script src="/scv-pre/src/js/jquery.magnific-popup.min.js"></script>
	<script src="/scv-pre/src/js/mobile-sidebar.js"></script>
	<script src="/scv-pre/src/js/app.js?v=23"></script>
	<script src="/scv-pre/src/js/main.js?v=23"></script>


<!-- Wrap the JS up in RequireJS -->
	<script data-main="/scv-pre/src/js/client.js?v=23" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>

	<script>mobileSidebar.init();</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script><!--GA3
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104378043-1', 'auto');
  ga('send', 'pageview');
--></script>

	<!-- Google Translate -->
	<script type="text/javascript">function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');}</script>

<!--<script>!function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); }}(document, "script", "twitter-wjs");</script>-->

	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!-- END Google Translate -->

</body>

</html>